<?xml version="1.0"?>
<ruleset name="Doppelslug">
	<description>WordPress Coding Standards for the Doppelslug plugin.</description>

	<file>doppelslug</file>

	<arg name="extensions" value="php"/>
	<arg value="ps"/>

	<rule ref="WordPress"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="doppelslug"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="doppelslug"/>
			</property>
		</properties>
	</rule>

	<config name="minimum_wp_version" value="6.6"/>

	<rule ref="PHPCompatibilityWP"/>
	<config name="testVersion" value="7.4-"/>
</ruleset>
